@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bac-people-office.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient
          (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/logo/logo-des@2x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 100%;
    width: 1158px;
    padding: 0 16px;
    margin: 0 auto;
  }

  /*navigation  */
  .header-address {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .outh-nav {
    display: flex;
    flex-wrap: nowrap;
  }

  .outh-item:not(:last-child) {
    margin-right: 40px;
  }

  /* =====hero======= */
  .hero {
    padding: 188px 0;
  }

  .hero-subject {
    margin-bottom: 48px;
  }
  /* work-section  */

  .advantages-section {
    padding: 120px 0;
  }

  .advantages-list {
    max-width: 1128px;
    gap: 24px;
  }
  /* isplay: flex;
    align-items: center; */
  .advantages-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0px;
    /* gap: 8px; */
    width: calc((100% - 72px) / 4);
  }

  .icon-bac {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;

    background: var(--design-element);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-feature {
    margin: 0;
    font-weight: 400;
    letter-spacing: 0;
  }

  /* ==========section 3========== */

  .work-section {
    display: block;
    padding-bottom: 120px;
  }

  .work-list {
    display: flex;
  }

  .work-item:not(:last-child) {
    margin-right: 24px;
  }

  /* section individual */

  .section-individual {
    padding-top: 120px;
    padding-bottom: 120px;

    background-color: var(--design-element);
  }

  .individual-lists {
    flex-wrap: nowrap;
  }

  /* ========compani link======== */

  .compani {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: auto;
  }

  .compani-lists {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /* footer     */
  .footer {
    display: flex;

    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
  }

  .over-footer {
    padding-left: 16px;
  }

  .blok-footer {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .contacts-active {
    margin-right: 80px;
  }
  .footer-link-icon {
    margin-bottom: 0;
  }

  /* portfolio */

  .section-filtr {
    padding: 100px 0 120px;
  }

  /* photo-portfolio 2 */
  .section-portfolio {
    gap: 48px 24px;
  }

  .img-info {
    width: calc((100% - 48px) / 3);
  }

  .text-photo {
    display: block;
    background-color: var(--primary-button-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--anim-transition);
  }

  .img-info:hover .text-photo,
  .img-info:focus .text-photo {
    transform: translateY(0%);
  }
}
