@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bac-people-office.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient
          (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/logo/logo-des@2x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  /*navigation  */
  .header-address {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .outh-nav {
    display: flex;
    flex-wrap: nowrap;
  }

  .outh-item:not(:last-child) {
    margin-right: 40px;
  }

  /* =====hero======= */
  .hero {
    padding: 188px 0;
  }

  .hero-subject {
    margin-bottom: 48px;
  }
  /* work-section  */

  .advantages-section {
    padding: 120px 0;
  }

  .advantages-list {
    max-width: 1128px;
    gap: 24px;
  }
  /* isplay: flex;
    align-items: center; */
  .advantages-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0px;
    /* gap: 8px; */
    width: calc((100% - 72px) / 4);
  }

  .icon-bac {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;

    background: var(--design-element);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .social-icon {
    width: 64px;
    height: 64px;
  }

  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-feature {
    margin: 0;
    font-weight: 400;
    letter-spacing: 0;
  }

  /* ==========section 3========== */

  .work-section {
    display: block;
    padding-bottom: 120px;
  }

  .work-list {
    display: flex;
  }

  .work-item:not(:last-child) {
    margin-right: 24px;
  }

  /* section individual */

  .section-individual {
    padding-top: 120px;
    padding-bottom: 120px;

    background-color: var(--design-element);
  }

  .individual-lists {
    flex-wrap: nowrap;
  }

  /* ========compani link======== */

  .compani {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: auto;
  }

  .compani-lists {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /* footer     */
  .footer {
    display: flex;

    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
  }

  .blok-footer {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .contacts-active {
    margin-right: 80px;
  }
  .footer-link-icon {
    margin-bottom: 0;
  }

  /*========== porfolio========== */
  .section-filtr {
    padding: 96px 0 120px;
  }

  .filters-items {
    display: flex;
    padding: 0;

    margin-bottom: 72px;
    gap: 24px;
    align-items: center;

    flex-direction: row;
    justify-content: center;
  }
  .btn {
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .btn-link {
    display: flex;
    margin: 0;
    padding: 12px 24px;
    align-items: center;
    border: 1px solid var(--border-box);
    border-radius: 4px;

    background-color: var(--design-element);
    color: var(--primary-button-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: background-color var(--anim-transition),
      color var(--anim-transition), border var(--anim-transition),
      box-shadow var(--anim-transition), border-radius var(--anim-transition);
  }
  .ntn-link:not(:last-child) {
    margin-right: 12px 24px;
  }

  .btn-link:hover,
  .btn-link:focus {
    background-color: var(--active-button-color);
    color: var(--background-style-color);
    border: none;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  /* section-portfolio 2 */
  .section-portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  .img-info {
    display: flex;
    justify-content: center;
    margin-right: 24px;
    margin-bottom: 48px;
    width: 360px;
  }

  .img-info:nth-child(3n) {
    margin-right: 0;
  }
  .img-info:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .img-portfolio_link {
    transition: box-shadow var(--anim-transition);
  }

  .img-portfolio_link:hover,
  .img-portfolio_link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .info-link {
    margin: 0 auto;
    padding: 32px 16px;

    border: 1px solid var(--border-box);
    border-top: none;
  }

  .img-text {
    position: relative;
    overflow: hidden;
  }

  .text-photo {
    background-color: var(--primary-button-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--anim-transition);
  }

  .img-info:hover .text-photo,
  .img-info:focus .text-photo {
    transform: translateY(0%);
  }
}
